body {
    margin: 0;
}
/*Видео фон*/
.video-hero {
  padding: 200px 0;
  overflow: hidden;
  position: relative;
}
.about-title {
  font-family: sans-serif;
  font-size: 70px;
  text-align: center;
  position: relative;

}
.about-title a{  
  text-decoration: none;

}
/* VIDEO */
.video-hero .video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

@media (max-width: 768px) {
  .video-hero {
	 padding: 0;
  }  
}
@media (max-width: 480px) {
  .about-title{
    font-size: 40px;
  }
}