@tailwind base;


#hero{
  
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.5), rgba(52, 3, 130, 1)),
  url("https://freightleads.netlify.com/assets/svg/lion.svg");
}

.animate-add.active {
    padding: 0;
  }
  
  .z-100 {
    z-index: 100;
  }
  
  .hide {
    display: none;
  }
  
  [class^="trans-"] .trans, [class*=" trans-"] .trans {
    transition: all;
  }
  
  .trans {
    transition: all 0.5s ease;
  }
  
  .trans-slow {
    transition-duration: 1s;
  }
  
  @media (max-width: 576px) {
    .sm\:hide {
      display: none;
    }
    .sm\:show {
      display: block;
    }
    .sm\:h-fill {
      height: -webkit-fill-available;
    }
  }
  
  .embed-responsive {
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  
  .embed-responsive::before {
    display: block;
    content: "";
  }
  
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .embed-responsive-21by9::before {
    padding-top: 42.85714%;
  }
  
  .embed-responsive-16by9::before {
    padding-top: 56.25%;
  }
  
  .embed-responsive-4by3::before {
    padding-top: 75%;
  }
  
  .embed-responsive-1by1::before {
    padding-top: 100%;
  }
  
  .type i {
    width: 2px;
    height: 1em;
    background-color: currentColor;
    margin-left: 0.3rem;
  }
  
  .bg-g-blue {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }
  
  .bg-g-purple {
    background-color: #9e21ff;
    background-image: linear-gradient(141deg, #ed21ff 0%, #9e21ff 51%, #9e21ff 75%);
  }
  
  .bg-img-parallax {
    background-image: url("img/video-placeholder.jpeg");
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-video {
    position: relative;
    background-color: black;
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
  
  .bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .bg-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    .bg-video {
      background: url("https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80") black no-repeat center top scroll;
    }
    .bg-video video {
      display: none;
    }
  }
  
  .swiper-container-hero, .swiper-overlay-text {
    height: 70vh;
  }
  
  .swiper-pagination-hero {
    margin-top: -20px;
    position: relative;
    z-index: 10;
  }
  
  .swiper-button-prev, .swiper-button-next {
    top: 33% !important;
    margin: auto 2rem;
  }
  
  .swiper-container {
    height: 400px;
  }
  
  .swiper-pagination-bullet {
    background: #ef9075;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ef9075;
  }
  
  nav.active {
    background: #22292f;
    padding: 14px 20px;
  }
  
  .menu-wrapper {
    margin: auto;
    width: 34px;
    height: 23px;
    cursor: pointer;
  }
  
  .hamburger-menu,
  .hamburger-menu:after,
  .hamburger-menu:before {
    width: 34px;
    height: 3px;
    position: fixed;
  }
  
  .hamburger-menu {
    position: relative;
    transform: translateY(10px);
    background: white;
    transition: all 0ms 300ms;
  }
  
  .hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
  }
  
  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  

  
  





.hero-bg-animated {
  background: gray url(http://inwebz.com/images/triangle_pattern.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}



/**
 * This part should be set separately for each video
 * if there are multiple videos in your site.
 * I.e. '.demo-video-wrapper' is the name of this particular video
 */

.demo-video-wrapper {
	background-image: url(https://d3k5xyayaartr5.cloudfront.net/_assets/home-video/beach-waves-loop.jpg);
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: $black;
}

/* Video overlay and content */
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
	background: url($overlay_pattern) left top repeat;
  opacity: $overlay_opacity;
}
.video-hero--content {
	position: relative;
	text-align: center;
	color: #FFF;
  margin: 150px 0;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.video-hero--content h2 {
	font-size: 34px;
	margin: 0 0 10px;
}
.video-hero--content p {
	font-size: 20px;
	margin: 0;
}

/* Other stuff */


.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.page-width {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;
}
#header {
	background: #2c2d33;
	padding: 2em 0;
}
#header a {
	color: #FFF;
}
.title {
	display: block;

}
.subtitle {
	display: block;
	font-weight: normal;

}
a:hover .subtitle {
	color: #FFF;
}
#site-title {
	float: left;
	margin: 0;
}
#content {
	padding: 40px 0;
}


/* CSS from jQuery Background Video plugin */
/**
 * Set default positioning as a fallback for if the plugin fails
 */
.jquery-background-video-wrapper {
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    	background-size: cover;
}
.jquery-background-video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	   object-fit: contain;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
	opacity: 0;
	-webkit-transition: opacity 300ms linear;
			transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
	opacity: 1;
}

/**
 * Pause/play button
 */ 
.jquery-background-video-pauseplay {
	position: absolute;
	background: transparent;
	border: none;
	box-shadow: none;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	padding: 0;
	cursor: pointer;
	outline: none !important;
}
.jquery-background-video-pauseplay span {
	display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}
.jquery-background-video-pauseplay.play:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #FFF;
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
	border-top: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 5px solid #FFF;
}
.jquery-background-video-pauseplay.pause:after {
	left: 10px;
}

@tailwind components;
@tailwind utilities;



